.team-container .about-section,
.container-image .about-section {
  box-sizing: border-box;
  width: 320px;
  min-width: 280px;
  max-width: 100%;
  min-height: 460px;
}

:root .team-container .about-section {
  width: 320px;
  min-width: 280px;
}
