---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="pt-28 max-w-7xl mx-auto px-6">
    <h1>Contacto</h1>
    <p>Página de contacto de KINASIS. Aquí puedes encontrar información para ponerte en contacto con nosotros.</p>
  </main>
</Layout>