---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="pt-28 max-w-7xl mx-auto px-6">
    <h1>HOME</h1>
    <p>Bienvenido a la página principal de KINASIS. Explora nuestros servicios y conoce a nuestro equipo.</p>
  </main>
</Layout>