---
import Layout from '../layouts/Layout.astro';
import AboutUs from '../components/AboutUs/AboutUs.vue';
import OurVision from '../components/OurVision/OurVision.vue';
import Goals from '../components/Goals/Goals.vue';
---

<Layout>
  <main class="pt-28 max-w-7xl mx-auto px-6">
    <AboutUs />
    <OurVision />
    <Goals />
  </main>
</Layout>