---
import Layout from '../layouts/Layout.astro'
import Banner from '../components/Banner/Banner.vue'
import AboutUs from '../components/AboutUs/AboutUs.vue'
import OurVision from '../components/OurVision/OurVision.vue'
import Goals from '../components/Goals/Goals.vue'
import Foundators from '../components/Foundators/Foundators.vue'
import Team from '../components/Team/Team.jsx'
import Services from '../components/Services/Services.vue'
import ReadyWork from '../components/ReadyWork/ReadyWork.vue'
import ProcessDev from '../components/ProcessDev/ProcessDev.vue'
import DevTools from '../components/DevTools/DevTools.vue'
import Contact from '../components/Contact/Contact.vue'
---

<Layout>
  <Banner />
  <main class="main-content pt-28 max-w-7xl mx-auto px-6">
    <div class="about-index-scope">
      <AboutUs />
    </div>
    <OurVision />
    <Goals />
    <Foundators />
    <Team />
    <ReadyWork />
    <Services />
    <ProcessDev />
    <DevTools />
    <Contact />
  </main>

  <script src="/src/js/index-hydrate.js" defer></script>
  <script is:inline>
    (function(){
      try {
        document.querySelectorAll('.about-index-scope .about-section').forEach(el=>{
          el.style.setProperty('width','auto','important');
          el.style.setProperty('max-width','none','important');
          el.style.setProperty('margin-left','0','important');
          el.style.setProperty('margin-right','0','important');
        });
      } catch (e){}
    })();
  </script>

</Layout>

<style>
  .about-index-scope .about-section{
    width: auto !important;
    max-width: none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  @media (max-width: 1024px){
    html, body { overflow-x: hidden !important; }
  }
</style>
