---
import Layout from '../layouts/Layout.astro'
import Banner from '../components/Banner/Banner.vue'
import AboutUs from '../components/AboutUs/AboutUs.vue'
import OurVision from '../components/OurVision/OurVision.vue'
import Goals from '../components/Goals/Goals.vue'
import Foundators from '../components/Foundators/Foundators.vue'
import Team from '../components/Team/Team.jsx'
import Services from '../components/Services/Services.vue'
import ReadyWork from '../components/ReadyWork/ReadyWork.vue'
import ProcessDev from '../components/ProcessDev/ProcessDev.vue'
import DevTools from '../components/DevTools/DevTools.vue'
import Contact from '../components/Contact/Contact.vue'
---

<Layout>
  <Banner client:load />
  <main class="main-content pt-28 max-w-7xl mx-auto px-6">
    <div style="padding-top: 0;">
      <AboutUs client:load />
    </div>
    <div style="padding-top: 0;">
      <OurVision client:load />
    </div>
    <div style="padding-top: 0;">
      <Goals client:load />
    </div>
    <div style="padding-top: 0;">
      <Foundators client:load />
    </div>
    <div style="padding-top: 0;">
      <Team client:load />
    </div>
    <div style="padding-top: 0;">
      <ReadyWork client:load />
    </div>
    <div style="padding-top: 0;">
      <Services client:load />
    </div>
    <div style="padding-top: 0;">
      <ProcessDev client:load />
    </div>
    <div style="padding-top: 0;">
      <DevTools client:load />
    </div>
    <div style="padding-top: 0;">
      <Contact client:load />
    </div>
  </main>
</Layout>

<style>
  .main-content > div {
    margin-top: -10px;
  }
</style>
