---
import Layout from '../layouts/Layout.astro';
import Team from '../components/Team/Team.jsx';
import Foundators from '../components/Foundators/Foundators.vue';
---

<Layout>
  <main class="pt-28 max-w-7xl mx-auto px-6">
    <Foundators />
    <Team />
  </main>
</Layout>