---
import Layout from '../layouts/Layout.astro';
import ProcessDev from '../components/ProcessDev/ProcessDev.vue';
import DevTools from '../components/DevTools/DevTools.vue';
---

<Layout>
  <main class="pt-28 max-w-7xl mx-auto px-6">
    <ProcessDev />
    <DevTools />
  </main>
</Layout>