---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="pt-28 max-w-7xl mx-auto px-6">
    <h1>Tecnologías</h1>
    <p>Esta es la página de tecnologías que utilizamos.</p>
  </main>
</Layout>