---
import Layout from '../layouts/Layout.astro';
import ReadyWork from '../components/ReadyWork/ReadyWork.vue';
import Services from '../components/Services/Services.vue';
---

<Layout>
  <main class="pt-28 max-w-7xl mx-auto px-6">
    <ReadyWork />
    <Services />
  </main>

  <script type="module" src={new URL('../js/products-carousel.js', import.meta.url).href} defer></script>
</Layout>