---
import "../styles/global.css";
import HeaderLayout from "./HeaderLayout.astro";
import FooterLayout from "./FooterLayout.astro";
---
<script is:inline>
  (() => {
    const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
    const storedTheme = localStorage.theme;
    const isDark = storedTheme === "dark" || (!storedTheme && prefersDark);

    if (isDark) {
      document.documentElement.classList.add("dark");
      document.write(`<style>img#brandLogo{content:url('/KINASIS_logo_verde.png') !important;}</style>`);
    } else {
      document.documentElement.classList.remove("dark");
      document.write(`<style>img#brandLogo{content:url('/KINASIS_logo_red.png') !important;}</style>`);
    }
  })();
</script>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/KINASIS-logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>KINASIS WEB</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@400;600&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body class="bg-white text-[dark] dark:bg-[#111827] dark:text-[snow] transition-colors duration-300">
    <HeaderLayout />
    <slot />
    <FooterLayout />
  </body>
</html>

<style>
  html, body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
